<div class="container">  <!-- 全体を囲むコンテナ -->

  <div class="row">
  <h2 class="text-md-end col-md-4 my-4">決済方法の編集</h2>
  </div>

    <%= form_with model: @settlement, local: true do |f| %>

    <%= render 'shared/error_messages', model: @settlement %>

      <div class="row gx-2 mb-5">  <!-- 決済方法入力フォーム -->
        <%= f.label :payment, '決済方法', class: "col-md-3 col-form-label text-md-end fw-bold" %>               
        <div class="col-md-5">
          <%= f.text_field :payment, class: "form-control" %>
          <div class="form-text">※決済方法を入力してください　例）SUICA、PayPayなど</div>
        </div>
      </div>

        <div class="row gx-2 mb-5">  <!-- 銀行名選択フォーム -->
          <%= f.label :紐づけている銀行名, class: "col-md-3 col-form-label text-md-end fw-bold"%>
          <div class="col-md-5">
            <%= f.collection_select :bank_id, @banks.all, :id, :name, { prompt: '-- 選択してください --' }, class: 'form-control' %>
            <div class="form-text">STEP①にて登録した銀行名が表示されます</div>
         </div>
        </div>

        <div class="row">  <!-- 登録ボタン -->
            <div class="col-md-8 text-end">
            <%= f.submit "決済方法を登録する", class: "btn btn-outline-info fw-bold"%>
            </div>
        </div>
    <% end %>

  <%= link_to 'トップページに戻る', spendings_path %>
</div>