<h1>決済方法の詳細画面</h1>

<div>
<%= @settlement.payment%>
</div>

<div>
<%= @settlement.bank.name %>
</div>

<div>
<%= link_to '編集', edit_settlement_path %>
</div>

<div>
<%= link_to '削除', settlement_path, data: { turbo_method: :delete } %>
</div>
<div>
<%= link_to 'トップページに戻る', spendings_path %>
</div>