<h1>支出一覧画面</h1>

<div class = container>  <!-- 全体を囲むコンテナ -->

  <div class="d-md-flex flex-wrap gap-4 mt-md-4">
    <%#銀行名登録のボタン%>
    <div class="d-flex gap-2 mb-4">
      <%= link_to '銀行名を登録', new_bank_path, class: "btn btn-outline-secondary fw-bold" %>

      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle fw-bold" data-bs-toggle="dropdown">登録済の銀行<span class="badge bg-secondary text-white ms-2"><%= @bank_count %></span></button>
        <ul class="dropdown-menu">
          <% @banks.each do |bank| %>
              <li><%= link_to bank.name, bank_path(bank.id), class: "dropdown-item list-group-item-light text-decoration-none" %></li>
          <% end %>
        </ul>  
      </div>
    </div>

    <%#決済方法登録のボタン%>
    <div class="d-flex gap-2">
      <div>
        <%= link_to '決済方法を登録', new_settlement_path, class: "btn btn-outline-info fw-bold" %>
      </div>

      <div class="dropdown">
        <button class="btn btn-outline-info dropdown-toggle fw-bold" data-bs-toggle="dropdown">登録済の決済方法<span class="badge bg-info text-white ms-2"><%= @settlement_count %></span></button>
        <ul class="dropdown-menu">
          <% @settlements.each do |settlement| %>
            <li><%= link_to settlement.payment, settlement_path(settlement.id), class:"dropdown-item list-group-item-light text-decoration-none" %></li>
          <% end %>
        </ul>  
      </div>
    </div>
  </div>
  <br>
  <%#支出管理のカレンダーを反映%>
  <%= month_calendar events: @spendings do |date, spendings| %>
    <%= date.day %>

    <% array = [] %>
    <%#支出データがある場合%>
    <% if spendings.any?%>
      <%#月ごとの支出をドロップダウンで表示%>
      <div class="dropdown">
        <button class="btn btn-outline-success btn-sm dropdown-toggle fw-bold" data-bs-toggle="dropdown">支出の詳細</button>
        <ul class="dropdown-menu">
          <% spendings.each do |spending| %>
          <li><%= link_to spending.price, spending_path(spending.id), class:"dropdown-item list-group-item-light text-decoration-none "%></li>
          <% end %>
        </ul>
      </div>

      <%#日ごとの合計金額を表示%>
      <% spendings.each do |spending| %>
      <% array << spending.price %>
      <% end %>
        <div class="text-danger fw-bold">
        <%= array.sum %>円
        </div>
    <% else %>
    <%#支出データがない場合は空欄に設定%>
    <% end %>
  <% end %>

  <div>
    <%= link_to '支出を登録', new_spending_path, class:"btn btn-success fw-bold" %>
  </div>

  <br>
  <%#今月の支出の総額表示%>
  <%#= @spendings_sum %>

  <div class="d-md-flex flex-wrap gap-4 mb-md-4">
    <%#銀行名ごとの支出額表示%>
    <div class="col-md-4"> 
      <table class="table caption-top table-bordered border-dark mb-md-4">
        <caption class="fs-4 fw-bold">銀行ごとの支出額（今月）</caption>
        <thead>
          <tr class="table-secondary"><th>銀行名</th><th>今月の支出額</th></tr>
        </thead>
        <tbody>
          <% @this_month_bank.each do |key, value| %>
            <tr><td><%= "#{key}" %></td><td><%= "#{value}" %></td></tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%#決済方法ごとの支出額の表示%>
    <div class="col-md-4"> 
      <table class="table caption-top table-bordered border-dark">
        <caption class="fs-4 fw-bold">決済方法ごとの支出額（今月）</caption>
        <thead>
          <tr class="table-info border"><th>決済方法</th><th>今月の支出額</th></tr>
        </thead>
        <tbody>
          <% @this_month_payment.each do |key, value| %>
            <tr><td><%= "#{key}" %></td><td><%= "#{value}" %></td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div>
  <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-primary" %>
  </div>
</div>