<div class="container">  <!-- 全体を囲むコンテナ -->

  <h3 class="mb-4">紐づけている銀行名の編集</h3>

  <%= form_with model: @bank, local: true do |f| %>
    <%= render 'shared/error_messages', model: @bank %>
    
      <div class='row gx-2 mb-4'>
        <%= f.label :設定金額 , class: "col-md-3 col-form-label text-md-end fw-bold" %>
        <div class="col-md-5">
          <%= f.number_field :amount_price, class:"form-control" %>
        </div>
      </div>
      <div class='row mb-4'>
        <%= f.label :銀行名, class: "col-md-3 col-form-label text-md-end fw-bold" %>
        <div class="col-md-5">
          <%= f.text_field :name, class:"form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 text-end">
          <%= f.submit "銀行名を登録する", class: "btn btn-secondary" %>
        </div>
      </div>
  <% end %>

  <%= link_to 'トップページに戻る', spendings_path %>
</div>