<h1>登録銀行の詳細</h1>

<div>
<%= @bank.amount_price %>
</div>

<div>
<%= @bank.name %>
</div>

<div>
<%= link_to '編集', edit_bank_path %>
</div>

<div>
<%= link_to '削除', bank_path, data: { turbo_method: :delete } %>
</div>
<div>
<%= link_to 'トップページに戻る', spendings_path %>
</div>