<div class="container">  <!-- 全体を囲むコンテナ -->
<dl>
  <br>

  <!-- データリスト -->
  <dt class="fs-5 fw-light bg-secondary bg-opacity-10">銀行名</dt>
  <dd class="fs-3 fw-bold mb-4"><%= @bank.name %></dd>
  <hr>
  <hr>

  <dt class="fs-5 fw-light bg-secondary bg-opacity-10">目標設定金額</dt>
  <dd class="fs-3 fw-bold mb-4"><%= @bank.amount_price %></dd>
  <hr>
  <hr>

  <h4 class="fs-5 fw-light bg-secondary bg-opacity-10">登録されている決済方法</h4>
  <div class="mb-4">
    <% @settlements.each do |settlement| %>
      <div class="fs-4 fw-bold"><%= settlement.payment %></div>
    <% end %>
  </div>
</dl>
<hr>
<hr>

    <!-- ボタングループ -->
  <div class="d-flex flex-column flex-md-row align-items-md-end gap-2">
    <%= link_to '編集', edit_bank_path, class: "btn btn-outline-secondary fw-bold"%>
    <%= link_to '削除', bank_path, data: { turbo_method: :delete }, class: "btn btn-outline-secondary fw-bold" %>
    <%= link_to '支出一覧ページに戻る', spendings_path, class: "btn btn-outline-secondary fw-bold" %>
  </div>

</div>