<div class="container">  <!-- 全体を囲むコンテナ -->

<h1>How To Pay </h1>
<h2>～決済方法に応じた支出額がわかる家計簿アプリ～</h2>
<div class="row"><%= image_tag 'howtopay_whole.png', class:"" %></div>
<hr>
<br>
<h2>～使用方法～</h2>
<br>
<br>

<h3>STEP①使用している銀行名を登録</h3>
<hr>
<h3>①「銀行名を登録」をクリック → ②必要事項を入力後、銀行名を登録</h3>
<div class="row"><%= image_tag 'howtopay_bank.png', class:"" %></div>

<br>
<br>

<h3>STEP②登録したい決済方法の登録</h3>
<hr>
<h3>①「決済方法を登録」をクリック → ②必要事項を入力後、決済方法を登録</h3>
<div class="row"><%= image_tag 'howtopay_settlement.png', class:"" %></div>

<br>
<br>

<h3>STEP③支出の登録</h3>
<hr>
<h3>①「支出を登録」をクリック → ②必要事項を入力後、支出を登録</h3>
<div class="row"><%= image_tag 'howtopay_spending.png', class:"" %></div>

<br>
<h3>今月の決済ごとの支出額が表示されます</h3>
<div class="row"><%= image_tag 'howtopay_result.png', class:"" %></div>

<div id="footer" class="fixed-bottom">
    <%= link_to 'ログイン', new_user_session_path, class: "btn btn-primary" %>
    <%= link_to '新規登録', new_user_registration_path, class: "btn btn-primary" %>
</div>

</div>